{%- for album in albums -%}
  {%- if album.type == 'photos' -%}
      {%- assign strong_name = album.name | prepend: '<strong>' | append: '</strong>' }} -%}
      {{ search.terms }}
      <h2 class="head head-{{ album.root }}">{{ album.parents | reverse | join: ' · ' | replace: album.name, strong_name | upcase}}</h2>
      <div class="photos">
        {%- for photo in album.list -%}
          <figure class="photo-figure" itemscope>
            <a class="photo-a" itemprop="{{ photo.path }}" 
              href="{{ photo.path }}"
              msrc="{{ photo.min_path }}"
              data-size="{{ photo.width }}x{{ photo.height }}">
              <img class="photo-img" itemprop="thumbnail" src="{{ photo.min_path }}"/>
            </a>
          </figure>
        {%- endfor -%}
        <figure class="photo-figure" itemscope>
          <a class="photo-a" itemprop="../photos/Works/camorra.gif" 
            href="../photos/Works/camorra.gif"
            msrc="../photos/Works/camorra.gif"
            data-size="540x960">
            <img class="photo-img" itemprop="thumbnail" src="../photos/Works/camorra.gif"/>
          </a>
        </figure>
      </div>
  {%- endif -%}
{%- endfor -%}