@import "base";

.content-desktop {
  display: flex;
}
.content-mobile {
  display: none;
}
#about-text {
  width: 50vw;
  text-align: justify;
  font-size: 1em;
}

@media screen and (max-width: 768px) {
  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }
  #about-text {
    width: 85vw;
    text-align: justify;
    font-size: 0.8em;
  }
}

html {
  background-color: $background;
  overflow-x: hidden;
  font-family: 'Montserrat', 'Lato', 'Helvetica', 'Verdana', sans-serif;
}
body {
  margin: 0;
}
canvas {
  display: block;
}
#warning-prompt {
  margin: 2em;
  text-align: center;
}
#sketchy-holder {
  padding: 2em;
  display: flex;
}
#navigation-header{
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 1em;
}
.nav-sub{
  color: $subtitle;
}
.container {
  margin: 2em;
}
h1 {
  font-size: 2.5em;
  color: $title;
  margin: 0;
}
h2 {
  font-weight: 400;
  color: $heading5;
  margin: 0 1em 0 0;

  strong {
    color: $subtitle;
  }
}
h1, h2, footer {
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
figure {
  margin: 0;
}
figure img {
  padding-bottom: 1em;
}
figure figcaption {
  text-align: center;
  color: #868686;
  font-size: 0.8em;
}
p, ol, ul {
  color: $title;
}
footer {
  bottom: 0;
  color: $text;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  margin-bottom: 2em;
}
.footer-item {
  display: block;
  margin-bottom: .8em;
}
a {
  text-decoration: none;
  color: $text;
  &:hover {
    color: $link;
  }
}

@import "pswp-default-skin";
@import "photoswipe";
@import "gallary";
